:root {
  --cherry-blossom: rgba(173, 127, 127, 1);
  --azuki-bean: rgba(122, 89, 90, 1);
  --sumi-ink: rgba(96, 60, 61, 1);
  --oriental-pink: rgba(199, 145, 146, 1);
  --oriental-pink-100: rgba(245, 235, 235, 1);
  --oriental-pink-200: rgba(237, 219, 219, 1);
  --oriental-pink-300: rgba(224, 193, 194, 1);
  --oriental-pink-500: rgba(184, 123, 124, 1);
  --oriental-pink-600: rgba(162, 96, 97, 1);
  --oriental-pink-700: rgba(135, 78, 79, 1);
  --oriental-pink-800: rgba(113, 67, 68, 1);
  --yellow-100: rgba(254, 249, 195, 1);
  --yellow-200: rgba(254, 240, 138, 1);
  --yellow-300: rgba(253, 224, 71, 1);
  --yellow-400: rgba(250, 204, 21, 1);
  --yellow-500: rgba(234, 179, 8, 1);
  --yellow-600: rgba(217, 119, 6, 1);
  --yellow-700: rgba(161, 98, 7, 1);
  --red-50: rgba(254, 242, 242, 1);
  --red-100: rgba(254, 226, 226, 1);
  --red-200: rgba(254, 202, 202, 1);
  --red-300: rgba(252, 165, 165, 1);
  --red-400: rgba(248, 113, 113, 1);
  --red-500: rgba(239, 68, 68, 1);
  --red-600: rgba(220, 38, 38, 1);
  --red-700: rgba(185, 28, 28, 1);
  --red-800: rgba(153, 27, 27, 1);
  --red-900: rgba(127, 29, 29, 1);
  --gray: #8E8E93;
  --label-colorslc-l-secondary: rgba(60, 60, 67, 0.6);
  --system-materialssm-l-thick: rgba(250, 250, 250, 0.93);
  --system-colorssc-l-blue: rgba(10, 122, 255, 1);
  --title-1-font-family: "Poppins", Helvetica;
  --title-1-font-weight: 500;
  --title-1-font-size: 64px;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 72px;
  --title-1-font-style: normal;
  --title-2-font-family: "Poppins", Helvetica;
  --title-2-font-weight: 500;
  --title-2-font-size: 48px;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 57.599998474121094px;
  --title-2-font-style: normal;
  --title-3-font-family: "Poppins", Helvetica;
  --title-3-font-weight: 500;
  --title-3-font-size: 38px;
  --title-3-letter-spacing: 0px;
  --title-3-line-height: 42.79999923706055px;
  --title-3-font-style: normal;
  --title-4-font-family: "Poppins", Helvetica;
  --title-4-font-weight: 700;
  --title-4-font-size: 38px;
  --title-4-letter-spacing: 0px;
  --title-4-line-height: 41.79999923706055px;
  --title-4-font-style: normal;
  --title-5-font-family: "Poppins", Helvetica;
  --title-5-font-weight: 500;
  --title-5-font-size: 32px;
  --title-5-letter-spacing: 0px;
  --title-5-line-height: 36px;
  --title-5-font-style: normal;
  --title-6-font-family: "Poppins", Helvetica;
  --title-6-font-weight: 500;
  --title-6-font-size: 24px;
  --title-6-letter-spacing: 0px;
  --title-6-line-height: 27px;
  --title-6-font-style: normal;
  --title-7-font-family: "Poppins", Helvetica;
  --title-7-font-weight: 500;
  --title-7-font-size: 18px;
  --title-7-letter-spacing: 0px;
  --title-7-line-height: 24px;
  --title-7-font-style: normal;
  --title-8-font-family: "Poppins", Helvetica;
  --title-8-font-weight: 500;
  --title-8-font-size: 16px;
  --title-8-letter-spacing: 0px;
  --title-8-line-height: 18px;
  --title-8-font-style: normal;
  --body-1-font-family: "Poppins", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 20px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 34px;
  --body-1-font-style: normal;
  --body-2-font-family: "Poppins", Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 14px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 20.200000762939453px;
  --body-2-font-style: normal;
  --body-3-font-family: "Poppins", Helvetica;
  --body-3-font-weight: 500;
  --body-3-font-size: 16px;
  --body-3-letter-spacing: 0px;
  --body-3-line-height: 20px;
  --body-3-font-style: normal;
  --caption-font-family: "Inter", Helvetica;
  --caption-font-weight: 500;
  --caption-font-size: 13px;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --default-size-body-font-family: "SF Pro Text", Helvetica;
  --default-size-body-font-weight: 400;
  --default-size-body-font-size: 17px;
  --default-size-body-letter-spacing: -0.40799999237060547px;
  --default-size-body-line-height: 22px;
  --default-size-body-font-style: normal;
  --variable-collection-red-100: rgba(254, 226, 226, 1);
  --collection-1-white: rgba(255, 255, 255, 1);
}
